---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/business/seattle-yoga-lounge-seattle
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="_R_trNFDzsAcX3LXtO1Kzw", oauth_nonce="7c1e41719569e05e9edf549eddd4acbf",
        oauth_signature="%2BHqOLuViqHcnZ6bzYcVAIMUf%2Bzk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463930719", oauth_token="g6Y2ohxxC7p1bt58iY_a7i8ojXlKZaVd",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Node:
      - api_com
      - web6-r1-sfo2
      X-Mode:
      - ro
      X-Proxied:
      - extlb8-r11-sfo2
    body:
      encoding: ASCII-8BIT
      string: '{"is_claimed": true, "rating": 3.5, "mobile_url": "http://m.yelp.com/biz/seattle-yoga-lounge-seattle?utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=_R_trNFDzsAcX3LXtO1Kzw",
        "rating_img_url": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/5ef3eb3cb162/ico/stars/v1/stars_3_half.png",
        "review_count": 92, "name": "Seattle Yoga Lounge", "rating_img_url_small":
        "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/2e909d5d3536/ico/stars/v1/stars_small_3_half.png",
        "url": "http://www.yelp.com/biz/seattle-yoga-lounge-seattle?utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=_R_trNFDzsAcX3LXtO1Kzw",
        "categories": [["Yoga", "yoga"]], "reviews": [{"rating": 4, "excerpt": "Such
        a great studio! Elvis and his team are so welcoming and wonderful. I have
        taken several classes here via Class Pass and have thoroughly enjoyed them...",
        "time_created": 1459828326, "rating_image_url": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "rating_image_small_url": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png",
        "user": {"image_url": "http://s3-media3.fl.yelpcdn.com/photo/HJBuXQsDvOwKywgZgsdCKQ/ms.jpg",
        "id": "E3R2xduRKT1aaA6OZq9hSg", "name": "Jen T."}, "rating_image_large_url":
        "https://s3-media2.fl.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "id": "AUIhjm4OQAoshRwsJI_fRg"}], "phone": "2065234569", "snippet_text": "Such
        a great studio! Elvis and his team are so welcoming and wonderful. I have
        taken several classes here via Class Pass and have thoroughly enjoyed them...",
        "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/dSbX4D2yBBYq4L7Y7g0yqQ/ms.jpg",
        "snippet_image_url": "http://s3-media3.fl.yelpcdn.com/photo/HJBuXQsDvOwKywgZgsdCKQ/ms.jpg",
        "display_phone": "+1-206-523-4569", "rating_img_url_large": "https://s3-media3.fl.yelpcdn.com/assets/2/www/img/bd9b7a815d1b/ico/stars/v1/stars_large_3_half.png",
        "id": "seattle-yoga-lounge-seattle", "is_closed": false, "location": {"city":
        "Seattle", "display_address": ["6900 E Greenlake Way", "Ste L", "Greenlake",
        "Seattle, WA 98115"], "geo_accuracy": 9.5, "neighborhoods": ["Greenlake"],
        "postal_code": "98115", "country_code": "US", "address": ["6900 E Greenlake
        Way", "Ste L"], "coordinate": {"latitude": 47.678218, "longitude": -122.326477},
        "state_code": "WA"}}'
  recorded_at: Sun, 22 May 2016 15:25:20 GMT
recorded_with: VCR 3.0.1
