/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.suggestion {
  margin: 2em auto;
  border-radius: 1em 2em;
  border-style: solid;
  border-width: 2px;
  width: 60%;

  .restaurant, .spotify-item {
    display: inline-block;
    width: 45%;
    text-align: center;
  }

  .restaurant {
    margin-right: 0.5em;
  }
  .spotify-item {
    margin-left: 0.5em;
  }

  .btn-save {
    margin: 0 0 1em 1em;
  }
}
