<div class="suggestion">
  <div class="restaurant">
    <h3><%= link_to s.restaurant.name, s.restaurant.url %></h3>
  </div>
  <div class="spotify-item">
    <h3><%= link_to s.spotify_item.name, s.spotify_item.url %></h3>
  </div>
</div>
