
<h1>Your sugestions are:</h1>

<br><br>
<%  @food.map do |mus| %>
<%=  mus.inspect %>
<br><br>
  <%end%>

<br>
<br><br>

<%@music.map do |mus| %>
<%=  mus.inspect %>
<br><br>
  <%end%>
  <br><br>
  <br><br>

<%  @zip.map do |pair|%>
  <%    pair.map do%>
  <%= pair[0].name %>
   <br>
  <%=  pair[1].name%>
  <%end%>
  <%end%>
